body {
	color: black;
	font: 14px/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	min-width: 400px;
	margin: 4em;
}

a {
	text-decoration: none;
	color: #0000E5;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 300%;
	margin: 0 0 0.5em 0;
}

h1 a, h1 a:hover {
	text-decoration: none;
	color: #000000;
}

h2 {
	font-size: 150%;
}

.legal {
	clear: both;
	float: right;
}

#container {
	max-width: 760px;
	margin: 0 auto;
}

#profilePicture {
	max-width: 40%;
	float: left;
	padding: 0;
	margin: 0 2em 1em 0;
}

@media (min-width: 550px) {

	#profilePicture:hover {
    	-webkit-animation: profilePicture 1s 1s ease alternate forwards;
	}
}

@-webkit-keyframes profilePicture  /* Safari and Chrome */
{
	0% {-webkit-transform: matrix(1,0,0,1,0,0);}
	100% {-webkit-transform: matrix(1.5,0,0,1.5,210,0);}
}

@keyframes profilePicture
{
	0% {transform: matrix(1,0,0,1,0,0);}
	100% {transform: matrix(1.5,0,0,1.5,210,0);}
}

@-moz-keyframes profilePicture /* Firefox */
{
	0% {-moz-transform: matrix(1,0,0,1,0px,0px);}
	100% {-moz-transform: matrix(1.5,0,0,1.5,210px,0px);}
}

@-o-keyframes profilePicture /* Opera */
{
	0% {-o-transform: matrix(1,0,0,1,0,0);}
	100% {-o-transform: matrix(1.5,0,0,1.5,210,0);}
}

@-ms-keyframes profilePicture /* Internet Explorer */
{
	0% {-o-transform: matrix(1,0,0,1,0,0);}
	100% {-o-transform: matrix(1.5,0,0,1.5,210,0);}
}


@media (max-width: 760px) {
	body {
		margin: 1em;
		font-size: 12px;
	}
	
	#profilePicture { 
		height: 15em; 
	}
}