body {
	color: black;
	font: 14px/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
}

h1 {
	font-size: 3em;
}



#container {
	max-width: 760px;
	margin: 0 auto;
}

#profilePicture {
	height: 30em;
	float: left;
	padding: 0 2em 0 0;
}