body {
	color: black;
	font: 14px/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	min-width: 400px;
	margin: 4em;
}

a {
	text-decoration: none;
	color: #0000E5;
}

a:hover {
	text-decoration: underline;
}

header {
}

h1 {
	font-size: 300%;
	margin: 0;
}

h1 a, h1 a:hover {
	text-decoration: none;
	color: #000000;
}

h2 {
	font-size: 150%;
}

.fadeIn {
 	opacity:0;  
 	visibility: hidden;
    animation: fadeIn ease-in 1s forwards;
    -webkit-animation: fadeIn ease-in 1s forwards; 
    -moz-animation: fadeIn ease-in 1s forwards;
    -o-animation: fadeIn ease-in 1s forwards;
}

.fadeIn.one {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 2s;
}

.fadeIn.two {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 2s;
}

.fadeIn.three {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
}

#container {
	max-width: 760px;
	margin: 0 auto;
}

#profilePicture {
	max-width: 40%;
	float: left;
	padding: 0;
	margin: 0 2em 0 0;
	position: relative;
	z-index: 1;
}

footer {
	padding: 0.5em 0 0 0;
	clear: both;
}

.legal {
	margin: 0;
    text-align: right;
}

@media (min-width: 550px) {

	#profilePicture:hover {
    	animation: profilePicture 1s ease 1s 1 forwards;
    	-webkit-animation: profilePicture 1s ease 1s 1 forwards;
    	-moz-animation: profilePicture 1s ease 1s 1 forwards;
    	-o-animation: profilePicture 1s ease 1s 1 forwards;
	}
}


/*Syntax animation: name duration timing-function delay iteration-count direction;*/

@keyframes fadeIn { 
	0% { opacity:0; visibility: hidden;} 
	100% { opacity:1; visibility: visible;} 
}
@-webkit-keyframes fadeIn { 
	from { opacity:0; visibility: hidden;} 
	to { opacity:1; visibility: visible;} 
}
@-moz-keyframes fadeIn { 
	from { opacity:0; visibility: hidden;} 
	to { opacity:1; visibility: visible;} 
}

@-o-keyframes fadeIn { 
	from { opacity:0; visibility: hidden;} 
	to { opacity:1; visibility: visible;} 
}

@keyframes profilePicture {
	from {transform: matrix(1,0,0,1,0,0);}
	to {transform: matrix(1.5,0,0,1.5,210,0);
		box-shadow: 10px 10px 10px #777;}
}

@-webkit-keyframes profilePicture {
	from {-webkit-transform: matrix(1,0,0,1,0,0);}
	to {-webkit-transform: matrix(1.5,0,0,1.5,210,0);
		box-shadow: 10px 10px 10px #777;
		}
}

@-moz-keyframes profilePicture {
	from {-moz-transform: matrix(1,0,0,1,0px,0px);}
	to {-moz-transform: matrix(1.5,0,0,1.5,210px,0px);
		box-shadow: 10px 10px 10px #777;}
}

@-o-keyframes profilePicture {
	from {-o-transform: matrix(1,0,0,1,0,0);}
	to {-o-transform: matrix(1.5,0,0,1.5,210,0);
		box-shadow: 10px 10px 10px #777;}
}

@media (max-width: 760px) {
	body {
		margin: 1em;
		font-size: 12px;
	}
	
	#profilePicture { 
		height: 15em; 
	}
}