body {
    color: black;
    font: 14px/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #FFFFFF;
    min-width: 400px;
    margin: 4em;
}

#container {
    max-width: 760px;
    margin: 0 auto;
}

nav { 
    margin-top: 3em;
    background: #444;
    text-align: center;
    font-size: 120%;
}

nav a, nav a:hover {
    text-decoration: none;
    color: #fff
}

nav ul, nav li { 
    padding:0; 
    margin:0; 
    display: inline-block; 
    left: 0;
}

nav ul li {  
    position: relative;
}

nav ul li:hover { 
    background:#222;
}

nav ul li a { 
    display: block; 
    padding: 1em; 
    white-space: nowrap; 
}

nav ul ul li a {
    padding: 0.5em;
}

nav ul ul { 
    position: absolute; 
    display: none;
    background: #333; 
    padding: 0.2em;
    border: 1px solid #444; 
}

nav ul li:hover>ul { 
    display: block;
}

nav ul ul li:hover>ul { 
    top: 0; 
    left: 100%; 
}