@media only screen and (min-width: 760px) {

    #first {
        img {
            display: block;
            min-width: 300px;
        }
    }
    nav .social {
        display: block;
    }

    footer .social {
        display: block;
    }

}